<%- include("../layouts/header") %>
    <div class="container mt-5">
        <h2 class="mb-4">dramabox</h2>
        <p>Bisa dicari filmnya, status download ada di folder download masing masing, dan untuk download, jangan sekaligus, kalo bisa satu satu aja, mengingat resource ini bakal bikin PCnya ngelag</p>
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th style="text-align: center;">Pict</th>
                    <th style="text-align: center;">Title</th>
                    <th style="text-align: center;">Country SUB/LANG</th>
                    <th style="text-align: center;">DOWNLOADED</th>
                </tr>
            </thead>
            <tbody>
                <% chapters.forEach(chapter => { %>
                <tr>
                    <td><img style="width: 100px" src="<%- chapter.cover %>"></td>
                    <td><%- chapter.bookName %></td>
                    <td><span id="d-<%- chapter.bookId %>">0</span>/<%- chapter.chapterCount %> Bahasa : <%- chapter.language %></td>
                    <td id="<%- chapter.bookId %>"><a href="#" actions="download" class="download" data-channel="dramabox" data-namaFilm="<%- chapter.bookName %>" data-url="/dramabox/" data-id="<%- chapter.bookId %>" >Download</a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<%- include("../layouts/footer") %>